:root {
  color-scheme: light dark;

  --pink: light-dark(hsl(348, 82%, 62%), hsl(348, 95%, 55%));

  --color-border: var(--pink);

  --color-page-fg: light-dark(hsl(0, 0%, 27%), hsl(0, 0%, 73%));
  --color-page-bg: light-dark(hsl(206, 100%, 99%), hsl(206, 30%, 10%));

  --color-h-fg: var(--pink);

  --color-permalink: light-dark(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 100%, 0.1));
  --color-permalink-hover: light-dark(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 100%, 0.2));

  --color-a-link: light-dark(hsl(231, 86%, 63%), hsl(231, 86%, 67%));
  --color-a-hover: light-dark(hsl(348, 82%, 62%), hsl(348, 82%, 70%));
  --color-a-active: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));

  --color-dt: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));

  --color-pre-fg: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));
  --color-pre-bg: light-dark(hsla(231, 86%, 63%, 0.1), hsla(231, 46%, 57%, 0.1));

  --color-pre-code-c1: light-dark(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 100%, 0.5));

  --color-blockquote-fg: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));
  --color-blockquote-bg: light-dark(hsla(0, 0%, 0%, 0.05), hsla(0, 0%, 100%, 0.05));

  --color-dmark-punctuation: light-dark(hsl(0, 0%, 60%), hsl(0, 0%, 40%));

  --color-prompt: light-dark(hsl(0, 0%, 60%), hsl(0, 0%, 40%));

  --color-note-border: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 100%));

  --color-todo-fg: light-dark(hsl(0, 100%, 43%), hsl(0, 100%, 57%));
  --color-todo-bg: light-dark(hsla(0, 100%, 50%, 0.05), hsla(0, 100%, 50%, 0.05));
  --color-todo-border: light-dark(hsl(0, 100%, 50%), hsl(0, 100%, 50%));
}

* {
  margin: 0;
  padding: 0;
}

@media screen {
  html {
    font-size: 16px;
    padding: 2rem;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 18px;
    padding: 4rem;
  }
}

html {
  line-height: 1.8rem;
  border-left: 1rem solid var(--color-border);
}

body {
  max-width: 720px;
  font-family: Merriweather, serif;
  color: var(--color-page-fg);
  background-color: var(--color-page-bg);
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
  line-height: 1em;
  margin: 5.4rem 0 1.8rem 0;
  color: var(--color-h-fg);
  position: relative;
  padding-left: 60px;
  margin-left: -60px;
}

h1 {
  font-size: 3rem;
  line-height: 3.6rem;

  margin-top: 0;
  margin-bottom: 0.9rem;
}

h2 {
  font-size: 2rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 3.6rem;
  margin-top: 3.6rem;
  margin-bottom: 0;
}

.byline {
  font-style: italic;

  margin-bottom: 60px;
}

a.permalink {
  position: absolute;
  left: 0;
  padding-right: 10px;
  width: 50px;
  text-align: right;
  text-decoration: none;
  visibility: hidden;
}

h1:hover a.permalink,
h2:hover a.permalink,
h3:hover a.permalink {
  visibility: visible;
}

a.permalink:link,
a.permalink:visited {
  color: var(--color-permalink);
}

a.permalink:hover {
  color: var(--color-permalink-hover);
}

a:link,
a:visited {
  color: var(--color-a-link);
}

a:hover {
  color: var(--color-a-hover);
}

a:active,
a.permalink:active {
  color: var(--color-a-active);
}

pre code .k,
pre code .nt,
pre code .no {
  font-weight: bold;
}

pre code .c1 {
  color: var(--color-pre-code-c1);
}

em,
.firstterm {
  font-style: italic;
}

dl,
p,
pre,
blockquote,
ul,
ol,
.note,
.todo {
  margin: 0 0 1.5rem 0;
}

dt {
  font-weight: bold;
  color: var(--color-dt);
  margin: 2rem 0 1rem 0;
}

dd {
  margin: 0 0 1em 0;
  padding: 0 0 0 2em;
}

ul,
ol {
  margin-left: 2rem;
}

pre {
  padding: 1em;
  background: var(--color-pre-bg);
  color: var(--color-pre-fg);
  white-space: pre-wrap;
}

blockquote {
  padding: 1em;
  background: var(--color-blockquote-bg);
  color: var(--color-blockquote-fg);
  font-style: italic;
}

blockquote :last-child {
  margin-bottom: 0;
}

code,
kbd,
samp,
var {
  font-size: 14px;
  font-family: Cousine, monospace;
}

.dmark-punctuation {
  color: var(--color-dmark-punctuation);
}

.dmark-elem {
  font-weight: bold;
}

.prompt {
  color: var(--color-prompt);
}

kbd {
  font-weight: bold;
}

.filename {
  font-style: italic;
}

.note {
  padding: 1em;
  border: 1px solid var(--color-note-border);
}

.note:before {
  content: "NOTE: ";
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.todo {
  padding: 1em;
  color: var(--color-todo-fg);
  background: var(--color-todo-bg);
  border: 1px solid var(--color-todo-border);
}

.todo:before {
  content: "TODO: ";
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}
